* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /*outline: red 2px solid;*/
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
  margin-bottom: 5px;
}

header {
  background-color: #1f2937;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 36px;
}

.header-upper {
  display: flex;
  margin-bottom: 40px;
  color: #f9faf8;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.links-header {
  list-style-type: none;
  display: flex;
}

.links-header li {
  margin-left: 30px;
  color: rgb(199, 199, 199);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  padding-bottom: 60px;
}

.header-paragraph {
  color: rgb(199, 199, 199);
  margin-bottom: 10px;
}

img {
  flex: 1;
  height: auto;
  max-width: 100%;
  min-width: 0;
  margin-bottom: 8px;
}

.header-description {
  flex: 1;
}

.signup-button {
  color: white;
  background-color: #3882f6;
  padding: 4px 24px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 36px;
}

.images-main-container {
  display: flex;
  gap: 36px;
  justify-content: center;
  flex-wrap: wrap;
}

.images-main-wrap {
  width: 150px;

  flex-shrink: 0;
}

.img-main {
  height: 150px;
  width: 150px;
  border: solid 4px #3882f6;
  border-radius: 8px;
}

figcaption {
  text-align: center;
  color: rgb(141, 141, 141);
}

.main-one {
  margin-bottom: 48px;
}

.main-two {
  background-color: #e5e7eb;
  padding: 100px 200px 100px 200px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-author {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.main-three {
  padding: 72px 120px 72px 120px;
}

.cta {
  background-color: #3882f6;
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.cta-header,
.cta-text,
.signup-button-bottom {
  color: white;
}

.cta-header {
  font-size: 24px;
  font-weight: bold;
}

.signup-button-bottom {
  flex-shrink: 0;
  padding: 4px 24px;
  border-radius: 8px;
  background-color: #3882f6;
  border: white solid 2px;
}

footer {
  background-color: #1f2937;
  padding: 24px;
}

.footer-text {
  text-align: center;
  color: rgb(199, 199, 199);
}